<h1><%= Date.today.strftime("%A, %b %d") %></h1>
<hr />
<div>
<span class="col-md-1"><%= link_to 'New Time entry', new_time_entry_path, class: "btn btn-default" %></span>
</div>

<table>
  <thead>
    <tr class="row">
      <th class="col-md-4">Task</th>
      <th class="col-md-5">Description</th>
      <th class="col-md-1">Running?</th>
      <th class="col-md-1">Time</th>
      <th class="col-md-1">Worked on</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |time_entry| %>
      <tr class="row">
        <td class="col-md-4"><%= time_entry.task.andand.name %> (<%= time_entry.project_name %>)</td>
        <td class="col-md-5"><%= time_entry.description %></td>
        <td class="col-md-1"><%= time_entry.running? ? "YES" : "no" %></td>
        <td class="col-md-1" id="time-entry-<%= time_entry.id %>"><%= time_entry.display_time %></td>
        <td class="col-md-1"><%= time_entry.worked_on %></td>
        <td><%= link_to 'Start', start_time_entry_path(time_entry), method: :put, class: "btn btn-default" %></td>
        <td><%= link_to 'Stop', stop_time_entry_path(time_entry), method: :put, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_time_entry_path(time_entry), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', time_entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>

    <tfoot>
      <tr class="row">
        <td colspan="3" class="col-md-9">Total</td>
        <td class="col-md-1" id="time-entry-total"><%= @total.display_time %></td>
        <td colspan="5"  class="col-md-2">&nbsp;</td>
      </tr>
    </tfoot>
  </tbody>
</table>

<br>
<div>
<span class="col-md-1"><%= link_to 'Export to CSV', time_entries_export_path, class: "btn btn-default" %></span>
</div>

<script language="javascript">
var reloadTimes = function() {
  $.ajax("time_entries/get_times.json", {
      success: function(data, _, _) {
        for(var key in data) {
          var time = data[key];
          $('#time-entry-'+key).html(time);
        }
      }
  })
};

$(setInterval(reloadTimes, 1000));
</script>
